body{
    background-color: black ;
    margin: 0;
    font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
}
    
header{
    background-color: red;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;
}
    
p{
    color: #ffffff;
    font-size: 20px;
    text-align: start;
    font-weight: bold;
}
.tudo{
    display: grid;
    place-content: center;
    margin: 0 15%;
}

nav{        
    position: absolute;
    top: 25px;
    right: 30px;
}
    
nav li{
    display:inline;
    margin: 0 0 0 15px;
    margin: 10px 5px;
}
    
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: ease .2s;
}
    
nav a:hover{
    text-decoration: underline;
    font-size: 23px;
    color: black;
}
    
h1{
    color: white;
}
    
h2{
    color: white;
}
 
.fases{
    color: white;
    
}

.fases p{
    font-size: 22px;
}

.lancamento{
    border: solid 1px;
    border-spacing: 1px;
    display: grid;
    place-self: center;
}

td{
    padding: 20px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

.info h2{
    float: inline-end;
}

.botao a{
    background-color: white;
    border-radius: 10px;
    padding: 1px 6px;
    position: relative;
    color: red;
    font-weight: bold; 
    text-decoration: none;
    transition: ease .2s;
}

.botao a:hover{
    background-color: red;
    color: white;
    text-decoration: none;
}

.botao2 {
    display: flex;
    justify-content: space-evenly;
}

.botao2 a{
    background-color: black;
    color: red;
    border: 2px solid red;
    text-decoration: none;
    padding: 32px 16px;
    font-size: 25px;
    transition: ease .2s;
}

.botao2 a:hover{
    background-color: red;
    color: white;
    text-decoration: none;
}

.fl div{
    float: left;
    width: 28%;
}

.sagas p{
    color: white;
    font-size: 25px;
}

.lmto div{
    width: 29%;
    font-size: 12px;
}

header input {
    display: none;
}

table tr td img {
    width: 18vw;
}

.all-fases{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fases {
    margin: 5px;
    width: 100%;	
}
@media (max-width: 880px) {
    table tr td img {
        width: 16vw;
    }

    header ul {
        display: none;
    }

    header input {
        display: grid;
        place-self: center;
        width: 64px;
        height: 64px;
    }

    .botao2 a{
        padding: 8px 4px;
    }

    .botao2 {
        width: 40%;
        margin: auto;
        gap: 20px;
    }
    .all-fases{
        display: flex;
        flex-wrap: wrap;
    }
    
}

.crono{
    display: table;
    color: white;
    border: 1px solid red;
    padding: 0.5vw;
}
